body{
    padding:0px;
    margin:0px;
    font-family: sans-serif;
    background-color: rgb(19, 11, 11);
}
/* navi bar styling */
#logo{

    width: 35px;
    height: 35px;
    padding-left: 25px;
    padding-top: 3px;
    

}

.home img{
    width: 40px;
    border-radius: 50%;
    position: relative;
    right: 100px;

}

#searchbar{
    
    width: 30%;
    height: 40px;
    position: absolute;
    border-radius: 20px;
    padding-left: 50px;
    background-color:rgb(51, 46, 46) ;
    border: 2px solid rgb(51, 46, 46) ;
}
#searchicon{
    width: 25px;
    padding: 10px;
    position:absolute ;
}
#browser{
    width: 30px;
    position:absolute ;
    padding-left: 30%;
    padding-top: 10px;
}
#line{
    position: absolute;
    padding-left: 28%;
    padding-top: 10px;
    width: 30px;
}
.premium{
 
    position: relative;
    left: 24%;
    top: 4px;

    
}


.premium button{
  
    width: 100%;
    height: 35px;
    border: 2px solid rgb(228, 220, 220);
    border-radius: 15px;
    color: black;
    background-color: white;
    font-weight: bold;
}
.notification{
   
    position: relative;
    left:140px;
 

}
.notification img{
    
    width: 25px;
    margin-top: 10px;
}
.profile img{
    width:40px ;
    border-radius: 25px;
    
    margin-right: 10px;
    
}
.navsection{

    display: flex;
    padding-top:10px;
    justify-content:space-between;
    background-color: rgb(24, 22, 22);
    width: 90%;
    height: 50px;
    position: fixed;
    z-index: 1;
    border-radius: 5px;
    margin-left: 10px;
    
    

    
    
}
/* styling side bar */
.content{
    
    position: relative;
    top: 60px;

}
.sidebar{
    background-color:rgb(51, 46, 46) ;
    width: 400px;
    height: auto;
    position: absolute;
    border-radius:5px ;
    padding-left: 10px;
    
    
}
.sidebar{
    position: fixed;
}
#book{
    
    width: 40px;
    border-radius: 15px;
}
#plus{
    width: 20px;
    height: 20px;
    padding: 10px;
    padding-left: 80%;
    position: absolute;
}    
.text{
    color:white;
    padding-top: 10px;
    font-weight: bold;
}
#arrow{
    width: 20px;
    padding-left: 60%;
}
.library{
    display: flex;
    
    padding-top: 5px;
}
.artist button{
    border-radius: 15px;
    color:white;
    width: 60px;
    height: 30px;
    background-color:rgb(28, 20, 20);
    border: 2px solid rgb(51, 46, 46);
}
#s1{
    width: 18px;
    height: 20px;
    padding-left: 5px;
}
#menu{
    height: 20px;
    padding-right: 5px;
}
.text1{
    color:white ;
    padding-left: 70%;
}
.history{
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
}
.liked{
    padding-top: 15px;
}
.im img{
    width: 40px;
    
}
.text3{
padding-left: 50px;
position: relative;
bottom:40px;
}
.sidebar{
    height: 700px;
    overflow-y: scroll;
    overflow-x:hidden;
}
.t1,.Name{
    color:white;
}
.t2, .character{
    color: rgb(139, 133, 133);
    font-size: 12px;
}
.singer1 img{
    width: 50px;
    height: 50px;
    border-radius: 35px;
}
.text4{
    padding-left: 60px;
    position: relative;
    bottom: 41px;
}
/* styling right part */

.right-part{
    width: 710px;
    height: auto;
    background-color:rgb(51, 46, 46) ;
    position: relative;
    border-radius: 5px;
    margin-left: 430px;
}
.btn1{
 border-radius:20px;
 width: 50px;
 height: 30px;
 margin-right: 10px;
 border: none;
 color: black;
 background-color:white;
}
.btn2{
    color: white;
    background-color: rgb(42, 38, 38);
    border: none;
    width: 60px;
    height: 30px;
    border-radius: 20px;
    margin-right: 10px;
    
}
.btn3{
    color: white;
    background-color: rgb(42, 38, 38);
    border: none;
    width: 70px;
    height: 30px;
    border-radius: 20px;
    margin-right: 10px;
    

}
.smallnav{
  padding-top:10px;
  padding-left: 20px;
  padding-bottom:10px;  
  position: fixed;
  background-color: rgb(219, 106, 106);
  width: 690px;
  border-radius: 5px;
  z-index: 1;
}
.dimg img{
    width: 60px;
    height: 50px;
    border-top-left-radius:5px;
    

}
.dt{
    color: white;
    padding-left: 20px;
    padding-top: 18px;
}
.d1{
    display: flex;
    background-color: rgb(42, 38, 38);
    width: 330px;
    height: 50px;
    margin-bottom:10px;
    margin-left: 10px;
    border-radius:5px;
    
    

    
}
.display1{
    position: relative;
    top:60px
}
.d2{
    display: flex;
    background-color: rgb(42, 38, 38);
    width: 330px;
    height: 50px;
    border-radius: 5px;
    margin-bottom:10px;
    margin-left: 50%;
}
.display2{
    position: relative;
    bottom: 180px;
}
.topic1 h1{
    color:white;
    font-weight: bolder;
    padding-left: 10px;
    position: relative;
    bottom:160px;
}
.topic1 h6{
    color: white;
    padding-left: 90%;
    position: relative;
    bottom:199px;

}
.topic1:hover{
    text-decoration: underline;
    color: white;
}

.song-img-1 img{
    width: 150px;
    padding: 10px;
    position: absolute;
    bottom: 16%;


    
}
.song-img-1 h5{
    color: rgb(139, 133, 133);
    font-size: 12px;
    padding-left: 10px;
   
    
    
    
}
.sname1{
    position: relative;
    top: 60px;

}
.sname2{
    position: relative;
    top: 50px;
}
.playlist1{
    display: flex;
    gap: 50px;
    position: relative;
    bottom: 180px;
    
}
.playlist{
    display: grid;
    position: relative;
    gap: 70px;

}
.bigimg{
    display: flex;
}
.bigimg1 img , .bigimg2 img{
    width: 90%;
    padding: 10px;
    border-radius:20px;
}
/* styling footer */
.lastcontent{
    display: flex;
    position: relative;
    gap: 35px;
    padding-left: 20px;
    padding-top: 9%;
}
.lastcontent:hover{
    text-decoration: underline;
    color: white;
}
.first a{
    text-decoration: none;
    line-height: 0%;
}

.first a h4{
    color: white;
    
}
.first a h6{
    color: rgb(130, 126, 126);
    
}
hr{
    opacity: 0.5;
    color: white;
    margin: 20px; 
}

.second{
    padding-left: 15px;
    position: relative;
    gap:2%;
    display: flex;
}
.second a{
    color:  rgb(130, 126, 126);
    text-decoration: none;
    
    
}
.fl{
    padding-left:80px;
}
.insta{
    width: 40px;
    border-radius:40%;
}
.twitter{
    width: 40px;
    border-radius:40%;
}
.facebook{
    width: 40px;
    border-radius:40%;
}
.fimg img{
    
    width: 20px;
    height: 20px;

}
.fimg{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 10px;
    justify-content: flex-start;

}
@media(max-width:600px)
{
    .navsection{
        width:50%;
     }
     
    #searchbar{
        width:20%;
    }
}


